/* Stiluri generale, folosite in toate paginile */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Arial, sans-serif;
}
